.body{
    padding-top: 70px;
}
.navbar-default{
    background-color: #fefefe;
    border: transparent;
    margin: 0px;
    padding-right: 20px;
    left: 0;
}

.navbar-brand{
    background: transparent;
    border: transparent;
    height: auto;
    margin-left: 25px;
    padding: 10px;
    
}


.navbar-default .navbar-nav li a{
    margin-top: 5px;
    color: #6808df53;
    font-size: 12px;
    font-weight: bold;
}

 .navbar-default .navbar-nav li a:hover{
    background-color: transparent;
    border-bottom: 4px solid #1e1e1e;
    padding-bottom: 19px;
    transition: border-bottom 150ms;
}

.navbar-default .navbar-nav li.active a{
    background-color: transparent;
    border-bottom: 4px solid #1e1e1e;
    margin-right: 2px;
    padding-bottom: 19px;
    font-size: 12px;
    font-weight: bold;
    color: #1e1e1e;
}

.navbar-default .navbar-nav li.active a:hover{
    background-color: transparent;
}

.navbar-toggle{
    margin-top: 20px;
}

#mypage{
    padding-top: 63px;
}


.line{
    border: 2px solid #1e1e1e;
    margin-bottom: 15px;
}

.letterine{
    padding-left: 10px;
    margin-top: -10px;
    color: #1e1e1e;
    font-weight: bold;
    font-size: 60px;
    position: absolute;
}

h2{
    padding-left: 70px;
    position: absolute;
    color: #434343;
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
}


#aboutus {
    background-image: url("../img/about-bg.png");
    background-repeat: no-repeat;
    background-position: 107% 10%;
    height: 895px;
    padding-top: 80px;
}

.sidebar {
    background-color: transparent;
    border-bottom: 0px;
}


.sidebar li a {
    color: #555555;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 6px;
    margin-top: 10px;
    border-bottom: 2px solid #969696;
    
}

.sidebar li:hover a{
    border-bottom: 2px solid #1e1e1e;
    background-color: transparent;
    text-align: center;
}

.sidebar li.active a{
    color: #151515;
    border-bottom: 4px solid #1e1e1e;
    text-align: right;
    background-color: transparent;  
}

.sidebar li.active:hover a {
    margin-bottom: 0px;
    
}

#about-cont{
    background-color: rgba(255,255,255,0.0);
}

.article {
    background-color: rgba(255,255,255,0.);
    height: 650px;
    min-width: 600px;
    padding: 30px;
    padding-left: 45px;
    padding-right: 5px;
    margin-top: 30px;
    overflow-y: scroll;
}

/* Scrollbar styles */
::-webkit-scrollbar {
width: 12px;
height: 12px;
}



::-webkit-scrollbar-thumb {
background: #1e1e1e;  
}

tbody{
    border-bottom: 2px solid #969696;
}

th {
    font-size: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

td {
    font-size: 18px;
    padding-bottom: 2px;
    padding-top: 5px;
}

#factory{
    padding-left: 80px
}

.text-wrap{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 348px;
    background-color: rgba(200,200,200,0.5);
}

#capacity {
    text-align: center;
}

#capacity .text-wrap{
    float: none;
    margin: 15px auto;
}

#certification h2{
    padding-top: 32px;
    padding-left: 15px;
}

#certification p{
    padding: 25px;
}


#corevalues {
    background-image: url("../img/core-bg.png");
    background-repeat: no-repeat;
    background-position: 107% 10%;
    height: 600px;
    padding-top: 80px;
}

#myCarousel {
    background-color: rgba(255,255,255,0.7);
    height: 400px;
    margin-top: 80px;
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
    overflow-y: scroll;
}

#myCarousel p{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 15px;
    font-weight: bold;
    color: #444444;
}

.carousel-indicators li {
    border: 1px solid #1e1e1e;
    border-radius: 0px;
    height: 5px;
    width: 45px;
    background-color: #1e1e1e;
    transition: height 300ms;
}
.carousel-indicators li.active {
    border: 1px solid #1e1e1e;
    border-radius: 0px;
    height: 9px;
    width: 45px;
    background-color: #1e1e1e;
}

#quality {
    background-image: url("../img/qualityy-bg.png");
    background-repeat: no-repeat;
    background-position: 50% 20%;
    height: 600px;
    padding-top: 80px;
}

#myCarousel2 {
    background-color: rgba(255,255,255,0.7);
    height: 450px;
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
    overflow-y: scroll;
}

#myCarousel2 ul li{
    margin-top: 20px;
    padding-top: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #444444;
}

#innovation {
    background-image: url("../img/innovation-bg.jpg");
    background-repeat: no-repeat;
    background-position: 100% 20%;
    height: 600px;
    padding-top: 80px;
}

#inncont{
    background-color: rgba(255,255,255,0.7);
    height: 450px;
    padding-left: 25px;
    padding-right: 35px;
    padding-top: 15px;
    overflow-y: scroll;
}

.core-subtitle {
    font-weight: bold;
    font-size: 20px;
    color: #1e1e1e;
}

#innovation p{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 15px;
    font-weight: bold;
    color: #676767;
}

#rxprocess {
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-position: 100% 20%;
    height: 700px;
    padding-top: 80px;
}

#rxcont{
    padding: 25px;
    height: 600px;
}

#rxcont h3{
    font-weight: bold;
    color: #1e1e1e;
}

#products {
    background-image: url("../img/product_bg_1.png");
    background-repeat: no-repeat;
    height: 895px;
    padding-top: 80px;
}

#prodcont {
    height: 600px;
}

#prodcont li a{
    text-transform: none;
}

#newsnotice {
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    height: 895px;
    padding-top: 80px;
}

#contact {
    background-image: url(../img/contact_bg.png);
    background-repeat: no-repeat;
    height: 650px;
    padding-top: 80px;
}

